*.ncb
*.user
*.suo
*.opensdf
*.sdf
*.kfx
*.model_bin
*.aps
*.pyc
*.gch
KlayGE.log
__pycache__
CfgBuild.py
*_mgw*_*_*
*_gcc*_*_*
*_vc*_*_*
*_clang*_*_*
.vs
lib
glloader/doc/html/
glloader/include/glloader/glloader_egl.h
glloader/include/glloader/glloader_gl.h
glloader/include/glloader/glloader_gles.h
glloader/include/glloader/glloader_glx.h
glloader/include/glloader/glloader_wgl.h
glloader/src/*.rule
glloader/src/glloader_egl.c
glloader/src/glloader_gl.c
glloader/src/glloader_gles.c
glloader/src/glloader_glx.c
glloader/src/glloader_wgl.c
KlayGE/bin/*/*.apk
KlayGE/bin/*/*/*.dll
KlayGE/bin/*/*/*.so
KlayGE/bin/*/*/*.dylib
KlayGE/bin/*/*.dll
KlayGE/bin/*/*.so
KlayGE/bin/*/*.dylib
KlayGE/bin/*/*.exe
KlayGE/bin/*/*.exe.config
KlayGE/bin/*/*.exe.manifest
KlayGE/bin/*/*.pdb
KlayGE/bin/*/*.py
KlayGE/bin/*/*Py.zip
KlayGE/bin/*/GL*CompatibilityReport.html
KlayGE/bin/*/HWCollect.txt
KlayGE/Core/Src/Base/TableGen
KlayGE/media/Fonts
KlayGE/media/Models
KlayGE/media/Textures
KlayGE/Samples/media/Common/Assets/*.png
KlayGE/Samples/media/Common/*.pfx
KlayGE/Samples/media/Common/*/*.dds
KlayGE/Samples/media/*/*/*.dds
KlayGE/Samples/media/*/*/*.impml
KlayGE/Samples/media/*/*/*.meshml
KlayGE/Samples/media/*/*.dds
KlayGE/Samples/media/*/*.meshml
KlayGE/Samples/media/*/*.7z
KlayGE/Samples/media/*/*.jdt
KlayGE/Samples/media/*/*.avi
KlayGE/Samples/media/*/*.ogg
KlayGE/Samples/media/*/MakePyZip.py
KlayGE/Samples/media/*/*Py.zip
KlayGE/Tests/media/*
KlayGE/Tools/media/*/MakePyZip.py
KlayGE/Tools/media/*/*.dds
KlayGE/Tools/media/*/*Py.zip
KlayGE/Tools/src/*/*/obj
KlayGE/Tools/src/*/*/*.csproj
KlayGE/Tools/src/KGEditor/KGEditor/Images
KlayGE/Tools/src/MtlEditor/MtlEditor/Images
KlayGE/Tools/src/TexViewer/TexViewer/Images
KlayGE/Tutorials/media/*/*.dds
KlayGE/klayge_logo.png
External/7z
External/android_native_app_glue
External/assimp
External/boost
External/FreeImage
External/Downloads
External/freetype
External/googletest
External/libogg
External/libvorbis
External/nanosvg
External/OpenALSDK
External/Python
External/rapidxml
External/UniversalDXSDK
External/wpftoolkit
