KlayGE.log
bin/**/*.apk
bin/**/*.dll
bin/**/*.so
bin/**/*.dylib
bin/**/*.exe
bin/**/*.exe.config
bin/**/*.gta.testdurations
bin/**/*.py
bin/**/*Py.zip
bin/*/GL*CompatibilityReport.html
bin/*/HWCollect.txt
bin/**/AppX
bin/**/*.appxrecipe
bin/**/AppxManifest.xml
Core/Src/Base/TableGen
media/Fonts
media/Models
media/Textures
Samples/media/Common/*.pfx
Samples/media/*/*/*.impml
Samples/media/*/*/*.meshml
Samples/media/*/*.meshml
Samples/media/*/*.7z
Samples/media/*/*.jdt
Samples/media/*/*.avi
Samples/media/*/*.ogg
Samples/media/*/MakePyZip.py
Samples/media/*/*Py.zip
Tests/media/*
Tools/media/*/MakePyZip.py
Tools/media/*/*Py.zip
Tools/src/*/*/obj
Tools/src/*/*/*.csproj
Tools/src/KGEditor/KGEditor/Images
Tools/src/MtlEditor/MtlEditor/Images
Tools/src/TexViewer/TexViewer/Images
